.ipynb_checkpoints

cani/.ipynb
cani/cani.R
carsharing/carsharing completo(1).R
carsharing_completo/solution_R.xoj
esercizi/soluzioni.xoj
esercizi2/VITI.R
esercizi2/soluzioniE1-2.xoj
esercizi3/ACQUA.R
finanziamenti/finanziamenti.R
video/
